## Unit 6. 변수와 입력

### 6.1 변수

영문 문자와 숫자를 사용할 수 있습니다.
대소문자를 구분합니다.
문자부터 시작해야 하며 숫자부터 시작하면 안 됩니다.
_(밑줄 문자)로 시작할 수 있습니다.
특수 문자(+, -, *, /, $, @, &, % 등)는 사용할 수 없습니다.
파이썬의 키워드(if, for, while, and, or 등)는 사용할 수 없습니다.

In [2]:
#Null
x = None
print(x)

None

### 6.2 변수로 계산

In [4]:
a = 10
a = a + 10
a

20

In [7]:
sum, prod = 0, 1
for i in range(1, 11):
    sum += i
    prod *= i
sum, prod

(55, 3628800)

### 6.3 입력(input)

In [8]:
x = input()

hello world

In [9]:
x

'hello world'

In [10]:
x = input("1에서 10까지의 정수값> ")   #prompt

1에서 10까지의 정수값5

In [13]:
# 입력한 두 정수의 합
a = int(input("첫번째 정수> "))
b = int(input("두번째 정수> "))

print(a+b)

첫번째 정수> 10
두번째 정수> 20
30

### 6.4 입력값 두 개

In [15]:
s = "hello world"
s.split()

['hello', 'world']

In [18]:
a, b = s.split()
a, b

('hello', 'world')

In [19]:
a, b, c = 'A quick brown'.split()
a, b, c

('A', 'quick', 'brown')

## Map 활용

In [21]:
a, b = map(int, [10.2, 11.4])
a, b

(10, 11)

In [23]:
a, b = map(int, input('숫자 두 개를 입력하세요: ').split(',')) # 입력받은 값을 콤마를 기준으로 분리
 
print(a + b)

숫자 두 개를 입력하세요: 10, 20
30