# Unit 38. 예외 처리 사용하기

In [1]:
a = [1, 2, 3]
try:
    a[4]
except:
    print('예외 발생')

예외 발생

In [2]:
int('10d')

ValueError: ignored

In [4]:
try:
    int('10d')
except Exception as e:
    print(e)

invalid literal for int() with base 10: '10d'

## 38.2 else-finally

In [5]:
try:
    x = int(input('나눌 숫자 입력> '))
    y = 10 / x
except Exception as e:
    print(e)
else:
    print(y)

나눌 숫자 입력> oo
invalid literal for int() with base 10: 'oo'

In [6]:
#예외와 상관없이 항상 실행
try:
    x = int(input())
    y = 10/x
except Exception as e:
    print(e)
else:
    print(y)
finally:
    print('코드 실행 종료')

5.
invalid literal for int() with base 10: '5.'
코드 실행 종료

## 38.3 예외 발생시키기

In [10]:
import random
try:
    x = random.randint(1, 10)
    print(x)
    if x % 3 != 0:
        raise Exception('3의 배수가 아닙니다.')
except Exception as e:
    print('예외 발생', e)

10
예외 발생 3의 배수가 아닙니다.

In [11]:
def multiplell(x):
    if x % 11 != 0:
        raise Exception('11의 배수가 아닙니다.')
    print(x)

In [12]:
try:
    multiplell(100)
except Exception as e:
    print('예외 발생-', e)

예외 발생- 11의 배수가 아닙니다.